{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript",
  ],
  "rules": {
    "indent": ["warn", 2],
    "semi": "warn",
    "space-infix-ops": "warn",
    "object-curly-newline": [
      "warn",
      {
        "multiline": true,
      },
    ],
    "vue/comment-directive": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
  },
  "plugins": ["simple-import-sort"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
  },
  "ignorePatterns": ["*.json"],
}
