{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript"
  ],
  "rules": {
    "indent": ["warn", 2],
    "semi": "warn",
    "space-infix-ops": "warn",
    "object-curly-newline": [
      "warn",
      {
        "multiline": true
      }
    ],
    "vue/comment-directive": "off"
  }
}
